
#create{
    margin-top: 20px;
    background-color: white;
    width:fit-content;
    margin-inline: auto;
    color:black;
}

#home{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
